<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>IoT Project Sato Lab</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <h3>Control Arduino from here:</h3>
    <form action='actuate' method='post'>
      <ul class='unstyled'>
        <% Choices.each do |id, text| %>
          <li>
            <label class='radio'>
              <input type='radio' name='act' value='<%= id %>' id='act_<%= id %>' />
              <%= text %>
            </label>
          </li>
        <% end %>
      </ul>
      <button type='submit' class='btn btn-primary'>Perform action!</button>
    </form>
    <h3>Read Arduino sensors here:</h3>
    <form action='display' method='post'>
      <button type='submit' class='btn btn-primary'>Display temperature and humidity</button>
      <p style="margin-top: 1em; color:blue; font-size:18px; font-weight: bold;"><%= @data %></p>
    </form>
  </body>
</html>
