<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>IoT Project Sato Lab</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <h3>Control Arduino from here:</h3>
    <form action='actuate' method='post'>
      <ul class='unstyled'>
        <% Choices.each do |id, text| %>
          <li>
            <label class='radio'>
              <input type='radio' name='act' value='<%= id %>' id='act_<%= id %>' />
              <%= text %>
            </label>
          </li>
        <% end %>
      </ul>
      <button type='submit' class='btn btn-primary'>Perform action!</button>
    </form>
    <h3>Read Arduino sensors here:</h3>
    <input type="button" onclick="updateTemp()" class='btn btn-primary' value="Request temperature and humidity" />
    <p id="resp" style="margin-top: 1em; color:blue; font-size:18px; font-weight: bold;"></p>
  </body>

  <script type="text/javascript">
    function updateTemp(){
      var msg_content = "<%= @msg_content %>";
      var displayString = ""
      if (msg_content.localeCompare(displayString) != 0){ //0 if both strings are equal, != 0 means there is sensor data available
        var msg_json = JSON.parse(msg_content);
        var temp = msg_json.T;
        var humid = msg_json.H;
        var time = msg_json.t;
        displayString = "Temp = " + temp + ", H = " + humid + "%, time = " + time + "s";
      }
      var resp_text = document.getElementById("resp");
      //var displayString = "GUTE NACHT";
      resp_text.innerHTML = displayString;      
    };
  </script>
</html>
