<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>IoT Project Sato Lab</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <p>Control Arduino from here:</p>
    <form action='actuate' method='post'>
      <ul class='unstyled'>
        <% Choices.each do |id, text| %>
          <li>
            <label class='radio'>
              <input type='radio' name='act' value='<%= id %>' id='act_<%= id %>' />
              <%= text %>
            </label>
          </li>
        <% end %>
      </ul>
      <button type='submit' class='btn btn-primary'>Perform action!</button>
    </form>
    <p>Read Arduino sensors here:</p>
    <input type="button" onclick="updateTemp()" value="Request temperature and humidity" />
    <p id="resp" style="color:green; font-size:20px; font-weight: bold;">Jetz aber</p>
  </body>

  <script type="text/javascript">
    var msg_content = "<%= @msg_content %>";
    var msg_json = JSON.parse(msg_content);
    var temp = msg_json.temp;
    var humid = msg_json.humid;
    var time = msg_json.time;
    
    function updateTemp(){
      //var displayString = "Temp = " + temp + ", H = " + humid + "%, time = " + time;
      var resp_text = document.getElementById("resp");
      var displayString = "GUTE NACHT";
      resp_text.innerHTML = displayString;
    };
  </script>
</html>
